@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poly:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #5c4739;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

a {
    color: #fff;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 90%;
}

.imagem-1 {
    width: 8%;
}

body {
    background-color: #e2ded5;
    color: #5c4739;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.inicio {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.titulo {
    padding: 20px 20px 10px;
}

h1 {
    font-family: "Poly", serif;
    font-size: 210%;
}

h2 {
    font-family: "Poly", serif;
    font-size: 180%;
}

p {
    padding: 0px 20px 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 75%;
}

.imagem-2 {
    width: 100%;
    border-radius: 5%;
    border: 1.5px solid #5c4739;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    ul {
        gap: 40px;
    }

    a {
        font-size: 190%;
    }

    .inicio {
        width: 700px;
        margin: 0 auto;
    }

    .inicio h1 {
        font-size: 350%;
    }
    
    .inicio h2 {
        font-size: 280%;
    }
    
    .inicio p {
        font-size: 175%;
    }
}

@media only screen and (min-width: 1024px) {
    nav {
        gap: 80px;
    }
    
    a {
        font-size: 100%;
    }
    
    .imagem-1{
        width: 3%;
        height: auto;
    }
    
    .inicio {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }
    
    .inicio h1{
        font-family: "Poly", serif;
        font-size: 550%;
        font-weight: 400;
    
    }
    
    .inicio h2 {
        font-family: "Poly", serif;
        font-size: 450%;
        font-weight: 400;
    
    }
    
    .inicio p {
        font-family: "Montserrat", sans-serif;
        font-size: 100%;
        font-weight: 400;
    
    }

    .imagem-2 {
        width: 45%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}


footer {
    font-family: "Montserrat", sans-serif;
    font-size: 55%;
    font-weight: 500;
    margin-top: auto;
}