@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poly:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e2ded5;
    color: #5c4739;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #5c4739;
    gap: 30px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

a {
    color: #fff;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 100%;
    padding: 90%;
}

.imagem-1{
    width: 3%;
    height: auto;
}


.imagem-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 55%;
    border-radius: 5%;
    border: 10px solid #5c4739;
    margin: 5%;
}

.inicio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100vw;
}

.inicio h1{
    font-family: "Poly", serif;
    font-size: 700%;
    font-weight: 400;

}

.inicio h2 {
    font-family: "Poly", serif;
    font-size: 600%;
    font-weight: 400;

}

.inicio p {
    font-family: "Montserrat", sans-serif;
    font-size: 200%;
    font-weight: 400;

}

footer {
    font-family: "Montserrat", sans-serif;
    font-size: smaller;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 1%;
}