@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poly:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #5c4739;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

a {
    color: #fff;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 100%;
}

.imagem-1{
    width: 8%;
}

body {
    background-color: #e2ded5;
    color: #5c4739;
    max-width: 100vw;
    max-height: 100vh;
}

.produtos {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.imagem-2 {
    width: 120px;
    height: 120px;
    border-radius: 5%;
    border: 2px solid #5c4739;
    margin: 0 auto;
}

.nutcracker {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
}

.nutcracker-info {
    padding: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
}

.imagem-3 {
    width: 120px;
    height: 120px;
    border-radius: 5%;
    border: 2px solid #5c4739;
    margin: 0 auto;
}

.youngsepherdess {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
}

.youngshepherdess-info {
    padding: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
}

.imagem-4 {
    width: 120px;
    height: 120px;
    border-radius: 5%;
    border: 2px solid #5c4739;
    margin: 0 auto;
}

.witchboutique {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
}

.witchboutique-info {
    padding: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
}

.imagem-5 {
    width: 120px;
    height: 120px;
    border-radius: 5%;
    border: 2px solid #5c4739;
    margin: 0 auto;
}

.icecream {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 40px;
}

.icecream-info {
    padding: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
}

.imagem-6 {
    width: 120px;
    height: 120px;
    border-radius: 5%;
    border: 2px solid #5c4739;
    margin: 0 auto;
}

.sweetcanneles {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
}

.sweetcanneles-info {
    padding: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
}

.imagem-7 {
    width: 120px;
    height: 120px;
    border-radius: 5%;
    border: 2px solid #5c4739;
    margin: 0 auto;
}

.blackcurrant {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
}

.blackcurrant-info {
    padding: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
}

.imagem-8 {
    width: 120px;
    height: 120px;
    border-radius: 5%;
    border: 2px solid #5c4739;
    margin: 0 auto;
}

.erosfable {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
}

.erosfable-info {
    padding: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
}

.imagem-9 {
    width: 120px;
    height: 120px;
    border-radius: 5%;
    border: 2px solid #5c4739;
    margin: 0 auto;
}

.paradiselost {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
}

.paradiselost-info {
    padding: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
}

.imagem-10 {
    width: 120px;
    height: 120px;
    border-radius: 5%;
    border: 2px solid #5c4739;
    margin: 0 auto;
}

.chantinganthem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
}

.chantinganthem-info {
    padding: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
}

@media only screen and (min-width: 768px) {
    ul {
        gap: 40px;
    }

    a {
        font-size: 190%;
    }

    .produtos {
        width: 700px;
        margin: 0 auto;
    }

    .imagem-2 {
        width: 250px;
        height: 250px;
    }
    
    .nutcracker-info {
        font-size: 35px;
    }
    
    .imagem-3 {
        width: 250px;
        height: 250px;
    }
    
    .youngshepherdess-info {
        font-size: 35px;
    }
    
    .imagem-4 {
        width: 250px;
        height: 250px;
    }
    
    .witchboutique-info {
        font-size: 35px;
    }
    
    .imagem-5 {
        width: 250px;
        height: 250px;
    }
    
    .icecream-info {
        font-size: 35px;
    }
    
    .imagem-6 {
        width: 250px;
        height: 250px;
    }
    
    .sweetcanneles-info {
        font-size: 35px;
    }
    
    .imagem-7 {
        width: 250px;
        height: 250px;
    }
    
    .blackcurrant-info {
        font-size: 35px;
    }
    
    .imagem-8 {
        width: 250px;
        height: 250px;
    }
    
    .erosfable-info {
        font-size: 35px;
    }
    
    .imagem-9 {
        width: 250px;
        height: 250px;
    }
    
    .paradiselost-info {
        font-size: 35px;
    }
    
    .imagem-10 {
        width: 250px;
        height: 250px;
    }
    
    .chantinganthem-info {
        font-size: 35px;
    }
}

@media only screen and (min-width: 1024px) {
    
    ul {
        gap: 20px;
    }
    
    a {
        font-size: 100%;
    }
    
    .imagem-1{
        width: 3%;
        height: auto;
    }
    
    .produtos {
        flex: 1;
        height: 100vh;
        width: 100vw;
    }
    
    .line-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        
    }
    
    .imagem-2 {
        width: 150px;
        height: 150px;
    }
    
    .nutcracker-info {
        font-size: 15px;
    }
    
    .imagem-3 {
        width: 150px;
        height: 150px;
    }
    
    .youngshepherdess-info {
        font-size: 15px;
    }
    
    .imagem-4 {
        width: 150px;
        height: 150px;
    }
    
    .witchboutique-info {
        font-size: 15px;
    }
    
    .line-2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .imagem-5 {
        width: 150px;
        height: 150px;
    }
    
    .icecream-info {
        font-size: 15px;
    }
    
    .imagem-6 {
        width: 150px;
        height: 150px;
    }
    
    .sweetcanneles-info {
        font-size: 15px;
    }
    
    .imagem-7 {
        width: 150px;
        height: 150px;
    }
    
    .blackcurrant-info {
        font-size: 15px;
    }
    
    .line-3 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
    }
    
    .imagem-8 {
        width: 150px;
        height: 150px;
    }
    
    .erosfable-info {
        font-size: 15px;
    }
    
    .imagem-9 {
        width: 150px;
        height: 150px;
    }
    
    .paradiselost-info {
        font-size: 15px;
    }
    
    .imagem-10 {
        width: 150px;
        height: 150px;
    }
    
    .chantinganthem-info {
        font-size: 15px;
    }
}

footer {
    font-family: "Montserrat", sans-serif;
    font-size: smaller;
    font-weight: 500;
    margin-top: auto;
}